<li class="nested-fields">
  <div class="form-group">
  
    <%= f.label "Amount:" %>
    <%= f.text_field :amount, class: "input-md" %>

    <%= f.label "Ingredient:" %>
    <%= f.fields_for :item do |ingredient_item| %>
      <%= ingredient_item.text_field :name, class: "input-md" %>
    <% end %>

    <!-- 'cocoon' method looks for closest HTML element with class "nested-fields" -->
    <%= link_to_remove_association "Remove <i class='glyphicon glyphicon-remove'></i>".html_safe, f %>
  </div>
</li>