<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="recipe_index" class="panel panel-default">
      
      <div class="panel-heading">
        <p>Eat well. Eat smart. Eat allergyfree.</p>
        <% if user_signed_in? %>
          <%= link_to "Create New Recipe", new_recipe_path, class: "btn btn-warning" %> or <%= link_to "Search by Allergen", search_allergens_path, class: "btn btn-warning" %>
        <% else %> 
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %> or <%= link_to "Log In", new_user_session_path, class: "btn btn-danger" %>  
        <% end %>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <h5>Recipe Added Most to Favorites</h5>
              <div class="box">
                    <!-- image -->
                    <% if @favorite_user_recipe.image? %>
                      <%= link_to (image_tag @favorite_user_recipe.image.url), user_recipe_path(@favorite_user_recipe.user, @favorite_user_recipe) %>
                     <% end %> 
                    <!-- title -->
                    <div class="panel-body">
                      <h2><%= link_to @favorite_user_recipe.title, user_recipe_path(@favorite_user_recipe.user, @favorite_user_recipe) %></h2>
                    
                      <div class="user">
                        <div class="row">
                          <div class="col-md-6">
                            Submitted by <%= @favorite_user_recipe.user.name %>              
                          </div>
                          <div class="col-md-6">
                            <!-- acts as votable -->
                            <%= link_to like_recipe_path(@favorite_user_recipe), method:"put" do %>
                              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <% end %>
                            <%= @favorite_user_recipe.get_upvotes.size %>&nbsp;| 
                            <%= link_to dislike_recipe_path(@favorite_user_recipe), method:"put" do %>
                              <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            <% end %>
                            <%= @favorite_user_recipe.get_downvotes.size %>
                          </div>          
                        </div>
                      </div> <!-- /.user-->
                    </div><!-- /.panel-body-->
                  </div><!-- /.box .panel-default -->              
          </div>
          <div class="col-md-6">
            <h5>Top Recipe Upvoted by Users</h5>
          </div>
        </div>
      </div>
         
    </div><!-- /.panel -->    
  </div><!-- /.col -->
</div> <!-- /.row-->
<%= render partial: "recipe_bricks", locals: {recipes: @recipes} %>
