<h1>Recipe Show Page</h1>

<%= image_tag @recipe.image.url(:medium) %>
<h4>Name: <%= @recipe.title %></h4>
<h4>By: <%= @recipe.user.name %></h4>
<h4>Description: <%= @recipe.description %></h4>
<h4>Instructions: <%= @recipe.instruction %></h4>
Ingredients:
<ol>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.item.name %> - <%= ingredient.amount %>
    </li>
    <% end %>
</ol>
<h4>Allergens Free of:</h4>
<ul>
  <% @recipe.allergens.each do |allergen| %>
    <li>
      <%= allergen.name %>
    </li>
  <% end %>
</ul>

<%= link_to "Delete Recipe", recipe_path(@recipe), method:"delete" %>